body {
    font-family: sans-serif;
    text-align: center;
    margin-top: 50px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007acc;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #005fa3;
}

#outputText {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
